.btn {
	padding: 12px 20px;
	border-radius: 8px;

	color: var(--white);
	font-family: Stolzl;
	font-size: 16px;
	font-weight: 400;

	&:active {
		scale: 0.97;
	}

	&:focus {
		outline-offset: 2px;
	}

	&_gradient {
		position: relative;
		z-index: 1;
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			z-index: -1;
			transition: opacity 300ms linear;
		}

		&::before {
			background: var(--purple-gradient);
		}

		&::after {
			background: var(--purple-gradient-hover);
			opacity: 0;
		}

		@include hover {
			&::before {
				opacity: 0;
			}
			&::after {
				opacity: 1;
			}
		}
	}

	&_border {
		position: relative;
		z-index: 1;
		overflow: hidden;

		border: 1px solid var(--white);
		transition: border 300ms linear;

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			inset: 0;
			background: var(--purple-gradient);
			opacity: 0;
			transition: opacity 300ms linear;
		}

		@include hover {
			border: 1px solid transparent;
			&::before {
				opacity: 1;
			}
		}
	}

	&_sm {
		border-radius: 6px;
		padding: 8px 20px;

		@media screen and (max-width: 768px) {
			padding: 8px 14px;
		}
	}

	&_md {
		min-width: 200px;
		padding: 24px 35px;

		color: var(--white);
		font-family: Gilroy;
		font-size: 15px;
		font-weight: 700;
		letter-spacing: 0.75px;
		text-transform: uppercase;

		@media screen and (max-width: 768px) {
			padding: 22px 35px;
		}
	}

	&_full {
		max-width: 100%;
		width: 100%;
	}

	&_disabled {
		opacity: 0.2;
		pointer-events: none;
	}
}
