.btn {
	display: inline-block;
	text-align: center;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	font: inherit;
	border: none;
	overflow: hidden;
	user-select: none;

	position: relative;
	z-index: 1;

	min-width: 50px;
	border-radius: 8px;

	&:active {
		scale: 0.97;
	}
}

.btn-primary {
	position: relative;
	z-index: 1;
	color: var(--white);

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		background: var(--purple-gradient);
		transition: opacity 300ms ease-in-out;
	}

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		background: var(--purple-gradient-hover);
		opacity: 0;
		transition: opacity 300ms ease-in-out;
	}

	@include hover {
		&::before {
			opacity: 0;
		}
		&::after {
			opacity: 1;
		}
	}
}

.btn-secondary {
	color: #9d9db1;
	background-color: #24242d;
	transition:
		background-color 300ms ease-in-out,
		color 300ms ease-in-out;
	@include hover {
		background-color: #40404f;
		color: var(--white);
	}
}

.crypto-btn {
	color: var(--white);
	text-align: center;
	font-family: Stolzl;
	font-size: 18px;
	font-weight: 700;
	line-height: 100%;

	@media screen and (max-width: 768px) {
		font-size: 16px;
		padding: 12px 18px;
	}
}

.sell-btn {
	color: #9d9db1;
	font-family: Stolzl;
	font-size: 18px;
	font-weight: 700;
	line-height: 100%;

	@media screen and (max-width: 768px) {
		font-size: 16px;
		padding: 12px 18px;
	}
}

.btn-sm {
	padding: 12px 16px;
}

.btn-md {
	padding: 25px 45px;
}

.btn-lg {
	padding: 30px 35px;
}

.login-btn {
	position: relative;
	min-width: 100px;
	padding: 12px 16px;

	border: 1px solid var(--white);
	color: var(--white);
	font-family: Stolzl;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	transition: border-color 300ms ease-in-out;

	&::before {
		content: '';
		z-index: -1;
		position: absolute;
		inset: 0;
		background: var(--purple-gradient);
		opacity: 0;
		transition: opacity 300ms ease-in-out;
	}

	&:active {
		scale: 0.97;
	}

	@include hover {
		&::before {
			opacity: 1;
		}
		border-color: transparent;
	}
}

.btn-close {
	background-color: transparent;
	padding: 0;
	border: none;
	cursor: pointer;

	position: relative;
	width: 20px;
	height: 20px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background: var(--purple-gradient);
		@include center;
	}

	&::before {
		rotate: 50deg;
	}

	&::after {
		rotate: -50deg;
	}

	&:active {
		scale: 0.97;
	}
}

.by-now-btn {
	color: var(--white);
	text-align: center;
	font-family: Stolzl;
	font-size: 20px;
	font-weight: 700;
	line-height: 100%;
	text-transform: uppercase;

	@media screen and (max-width: 992px) {
		padding: 22px 35px;
		font-size: 16px;
	}
}

.trade-btn {
	border-radius: 6px;
	padding: 8px 24px;
	color: var(--white);
	text-align: center;
	font-family: Stolzl;
	font-size: 15px;
	font-weight: 400;
	@media screen and (max-width: 768px) {
		padding: 10px 18px;
	}
}
