.btn {
	padding: 12px 20px;
	border-radius: 8px;

	color: var(--white);
	font-family: Stolzl;
	font-size: 16px;
	font-weight: 400;

	&:active {
		scale: 0.97;
	}

	&:focus {
		outline-offset: 2px;
	}

	@media screen and (max-width: 768px) {
		padding: 12px;
	}
}

.btn-secondary {
	color: var(--text-gray);
	background-color: #24242d;
	transition:
		background-color 300ms linear,
		color 300ms linear;

	@include hover {
		background-color: #40404f;
		color: var(--white);
	}
}

.btn-sm {
	border-radius: 6px;
	padding: 8px 20px;

	@media screen and (max-width: 768px) {
		padding: 8px 14px;
	}
}

.btn-md {
	min-width: 200px;
	padding: 24px 35px;
	border-radius: 8px;

	color: var(--white);
	font-family: Gilroy;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.75px;
	text-transform: uppercase;

	@media screen and (max-width: 500px) {
		min-width: 150px;
	}

	&:active {
		scale: 0.97;
	}
}

.btn-border {
	position: relative;
	z-index: 1;
	overflow: hidden;

	border: 1px solid var(--white);
	transition: border 300ms linear;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		background: var(--purple-gradient);
		opacity: 0;
		transition: opacity 300ms linear;
	}

	@include hover {
		border: 1px solid transparent;
		&::before {
			opacity: 1;
		}
	}
}

.btn-disabled {
	opacity: 0.2;
	pointer-events: none;
}

.btn-gradient {
	position: relative;
	z-index: 1;
	overflow: hidden;

	&::before,
	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		transition: opacity 300ms linear;
	}

	&::before {
		background: var(--purple-gradient);
	}

	&::after {
		background: var(--purple-gradient-hover);
		opacity: 0;
	}

	@include hover {
		&::before {
			opacity: 0;
		}
		&::after {
			opacity: 1;
		}
	}
}

.crypto-btn {
	color: var(--white);
	text-align: center;
	font-family: Stolzl;
	font-size: 18px;
	font-weight: 700;
	line-height: 100%;

	@media screen and (max-width: 768px) {
		font-size: 16px;
		padding: 12px 18px;
	}
}

.sell-btn {
	color: #9d9db1;
	font-family: Stolzl;
	font-size: 18px;
	font-weight: 700;
	line-height: 100%;

	@media screen and (max-width: 768px) {
		font-size: 16px;
		padding: 12px 18px;
	}
}

.btn-close {
	background-color: transparent;
	padding: 0;
	border: none;
	cursor: pointer;

	position: relative;
	width: 20px;
	height: 20px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background: var(--purple-gradient);
		@include center;
	}

	&::before {
		rotate: 50deg;
	}

	&::after {
		rotate: -50deg;
	}

	&:active {
		scale: 0.97;
	}
}

.by-now-btn {
	color: var(--white);
	text-align: center;
	font-family: Stolzl;
	font-size: 20px;
	font-weight: 700;
	line-height: 100%;
	text-transform: uppercase;

	@media screen and (max-width: 992px) {
		padding: 22px 35px;
		font-size: 16px;
	}
}

.btn-disabled {
	opacity: 0.2 !important;
	pointer-events: none !important;
}
