.exchange {
	margin: 0 auto;

	max-width: 1040px;
	width: 100%;
	padding: 40px;

	border: 0.5px solid #32324a;
	border-radius: 30px;

	background-color: rgba(20, 20, 27, 0.6);

	@media screen and (max-width: 992px) {
		border-radius: 20px;
		padding: 20px;
	}

	// .exchange__top

	&__top {
		display: flex;
		align-items: center;
		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: normal;
		}

		margin-bottom: 17px;
		gap: 15px 16px;
	}

	// .exchange__bottom

	&__bottom {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 20px 35px;
		@media screen and (max-width: 520px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__btn {
		@media screen and (max-width: 520px) {
			width: 100%;
		}
	}

	// .exchange__info

	&__info {
		display: flex;
		flex-direction: column;
		gap: 16px;
		@media screen and (max-width: 768px) {
			gap: 14px;
		}
	}

	&__icon {
		margin-top: 25px;
		cursor: pointer;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	// .exchange__text

	&__text {
		color: #9494b2;
		font-family: Stolzl;
		font-size: 16px;
		font-weight: 400;
	}
}
.exchange-block {
	// .exchange-block__title

	&__title {
		color: #9494b2;
		font-family: Stolzl;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 15px;
		@media screen and (max-width: 992px) {
			margin-bottom: 5px;
			font-size: 14px;
		}
	}
}

.exchange-icon {
	width: 18px;
	height: 18px;
}

.exchange-details {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px 52px;
}
.exchange-detail {
	color: var(--white);
	font-family: Stolzl;
	font-size: 14px;
	font-weight: 500;

	// .exchange-detail__type

	&__type {
		margin-bottom: 4px;
		font-weight: 400;
	}

	// .exchange-detail__number

	&__number {
		font-weight: 500;
	}
}
