.lang-drop {
	position: relative;
	user-select: none;
	// .lang-drop__toggle

	&.active {
		.lang-menu {
			visibility: visible;
			opacity: 1;
		}
		.lang-drop__icon {
			transform: rotate(-180deg);
		}
	}

	&__toggle {
		display: flex;
		align-items: center;
		gap: 10px;
		position: relative;

		color: var(--white);
		font-family: Stolzl;
		font-size: 16px;
		font-weight: 500;

		cursor: pointer;
	}

	// .lang-drop__icon

	&__icon {
		transition: transform 120ms ease-in-out;
	}
}
.lang-menu {
	margin: 0;
	padding: 0;
	list-style: none;

	position: absolute;
	top: calc(100% + 15px);
	z-index: 2;

	min-width: 230px;
	overflow: hidden;

	border-radius: 10px;
	border: 0.5px solid #262636;
	background-color: var(--app-bg);
	transition:
		opacity 120ms ease,
		visibility 120ms ease;

	visibility: hidden;
	opacity: 0;

	@media screen and (max-width: 992px) {
		left: 50%;
		transform: translateX(-50%);
	}

	// .lang-menu__item
	&__item {
		padding: 20px 30px;
		cursor: pointer;
		user-select: none;
		transition: background-color 120ms ease;
		color: var(--gray-100);
		font-family: Stolzl;
		font-size: 15px;
		font-weight: 400;
		line-height: normal;

		@include hover {
			background-color: #15151c;
		}
	}
}

[data-icon='arrow-bottom'] {
	width: 10px;
	height: 10px;
	background-image: url('../img/arrow-bottom.svg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
