body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: Stolzl, sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: var(--app-bg);
}

.wrapper {
	min-height: 100vh;

	display: flex;
	flex-direction: column;

	overflow: hidden;
	&_circles {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 2500px;
			height: 940px;
			z-index: -1;
			background-image: url('../img/circles.svg');
			background-repeat: no-repeat;
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}
}

.main {
	flex-grow: 1;
	padding-bottom: 90px;

	@media screen and (max-width: 768px) {
		padding-bottom: 63px;
	}
}

.container {
	margin: 0 auto;

	max-width: 1270px;
	padding: 0 15px;
}

// on open some modals
.disable-scroll {
	overflow: hidden !important;
}

// Border on hover
.border-bottom-line {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: -4px;

		height: 4px;
		width: 100%;

		background: var(--purple-gradient);
		border-radius: 5px;
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;

		// transform-origin: right bottom;
		transform-origin: center;
	}

	@include hover {
		&::before {
			transform: scaleX(1);
			// transform-origin: left bottom;
		}
	}
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.logo {
	display: block;
	flex-shrink: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.mobile-logo {
	width: 97px;
	height: 31px;
}

.main-logo {
	width: 143px;
	height: 33px;
}

.text-gradient {
	background: var(--purple-gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.reset-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
