<section class="faq faq_texture">
	<div class="faq__container container">
		<h2 class="faq__title text-gradient">FAQ</h2>
		<div class="accordions-wrapper">
			<div class="accordion">
				<div class="accordion__toggle">
					<div class="accordion__quest">How can I earn money by walking?</div>
					<div class="accordion__icon">
						<img src="./assets/img/faq/arrow.svg" alt="arrow" />
					</div>
				</div>
				<div class="accordion__wrapper">
					<p class="accordion__text">
						We provide a competitive salary package that recognizes the skills
						and expertise of our employees. YourBank believes in rewarding
						exceptional performance and offering opportunities for financial
						growth.
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion__toggle">
					<div class="accordion__quest">How can I sell my shoes?</div>
					<div class="accordion__icon">
						<img src="./assets/img/faq/arrow.svg" alt="arrow" />
					</div>
				</div>
				<div class="accordion__wrapper">
					<p class="accordion__text">
						We provide a competitive salary package that recognizes the skills
						and expertise of our employees. YourBank believes in rewarding
						exceptional performance and offering opportunities for financial
						growth.
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion__toggle">
					<div class="accordion__quest">
						What can I do if my shoes get worn out?
					</div>
					<div class="accordion__icon">
						<img src="./assets/img/faq/arrow.svg" alt="arrow" />
					</div>
				</div>
				<div class="accordion__wrapper">
					<p class="accordion__text">
						We provide a competitive salary package that recognizes the skills
						and expertise of our employees. YourBank believes in rewarding
						exceptional performance and offering opportunities for financial
						growth.
					</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion__toggle">
					<div class="accordion__quest">
						How are the rarity levels of shoes determined?
					</div>
					<div class="accordion__icon">
						<img src="./assets/img/faq/arrow.svg" alt="arrow" />
					</div>
				</div>
				<div class="accordion__wrapper">
					<p class="accordion__text">
						We provide a competitive salary package that recognizes the skills
						and expertise of our employees. YourBank believes in rewarding
						exceptional performance and offering opportunities for financial
						growth.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
