<section class="features ">
	<div class="features__container container">
		<h2 class="features__title text-gradient move-bot">Our Features</h2>
		<div class="features-cards">
			<div class="features-cards__item move-right">
				<div class="features-card">
					<div class="features-card__top">
						<div class="features-card__img-wrapper">
							<div class="features-card__img">
								<img src="./assets/img/icons/volume.svg" alt="volume" />
							</div>
						</div>
						<h3 class="features-card__title">Rock solid security</h3>
					</div>
					<div class="features-card__body">
						<p class="features-card__text">
							We provide a competitive salary package that recognizes the skills
							and expertise of our employees. YourBank believes in rewarding
							exceptional performance and offering opportunities for financial
							growth.
						</p>
					</div>
				</div>
				<div class="features-card">
					<div class="features-card__top">
						<div class="features-card__img-wrapper">
							<div class="features-card__img">
								<img src="./assets/img/icons/tip.svg" alt="volume" />
							</div>
						</div>
						<h3 class="features-card__title">Health and Wellness</h3>
					</div>
					<div class="features-card__body">
						<p class="features-card__text">
							We provide a competitive salary package that recognizes the skills
							and expertise of our employees. YourBank believes in rewarding
							exceptional performance and offering opportunities for financial
							growth.
						</p>
					</div>
				</div>
			</div>
			<div class="features-cards__item move-left">
				<div class="features-card">
					<div class="features-card__top">
						<div class="features-card__img-wrapper">
							<div class="features-card__img">
								<img src="./assets/img/icons/bag.svg" alt="volume" />
							</div>
						</div>
						<h3 class="features-card__title">Secure payments</h3>
					</div>
					<div class="features-card__body">
						<p class="features-card__text">
							We provide a competitive salary package that recognizes the skills
							and expertise of our employees. YourBank believes in rewarding
							exceptional performance and offering opportunities for financial
							growth.
						</p>
					</div>
				</div>
				<div class="features-card">
					<div class="features-card__top">
						<div class="features-card__img-wrapper">
							<div class="features-card__img">
								<img src="./assets/img/icons/storage.svg" alt="volume" />
							</div>
						</div>
						<h3 class="features-card__title">Work-Life Balance</h3>
					</div>
					<div class="features-card__body">
						<p class="features-card__text">
							We provide a competitive salary package that recognizes the skills
							and expertise of our employees. YourBank believes in rewarding
							exceptional performance and offering opportunities for financial
							growth.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
