<header class="header">
	<div class="header__container">
		<div class="logo-container">
			<a href="#" class="logo logo_main"
				><img
					width="161"
					height="24"
					src="./assets/img/main-logo.svg"
					alt="logo"
			/></a>

			<a href="#" class="logo logo_mobile"
				><img
					width="150"
					height="40"
					src="./assets/img/mobile-logo.svg"
					alt="logo"
			/></a>
		</div>
		<div class="mobile-menu">
			<button
				class="btn-close mobile-menu__close"
				aria-label="click to close menu"
			></button>
			<nav>
				<ul class="menu">
					<li>
						<a href="#" class="menu__link border-bottom-line">Buy / Sell</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Crypto Prices</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Documentation</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Contact</a>
					</li>
				</ul>
			</nav>
			<div class="header__actions">
				@include('./components/lang-dropdown.html')
				<div class="header__buttons">
					<button class="btn login-btn">Log in</button>
					<button class="btn btn-primary btn-sm">Sign up</button>
				</div>
			</div>
		</div>
		<!--  -->

		@include('./components/burger.html')

		<!--  -->
	</div>
</header>
