<header class="header">
	<div class="header__container container">
		<!--  -->

		<a href="#" class="logo"
			><img
				width="158"
				height="16"
				src="./assets/img/header-logo.svg"
				alt="logo"
		/></a>

		<!--  -->
		<div class="mobile-menu">
			<nav>
				<ul class="menu">
					<li>
						<a href="#" class="menu__link border-bottom-line">Buy / Sell</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Crypto Prices</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Documentation</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Contact</a>
					</li>
				</ul>
			</nav>
			<div class="header__actions">
				<div class="dropdown">English</div>
				<div class="header__buttons">
					<button>Log in</button>
					<button>Sign up</button>
				</div>
			</div>
		</div>
		<!--  -->

		<button class="burger">
			<span></span>
		</button>

		<!--  -->
	</div>
</header>
