<header class="header">
	<div class="header__container">
		<!--  -->

		<a href="#" class="logo header__logo"
			><img
				width="158"
				height="16"
				src="./assets/img/header-logo.svg"
				alt="logo"
		/></a>
		<!-- <a href="#" class="logo mobile-logo"
			><img width="97" height="32" src="./assets/img/main-logo.svg" alt="logo"
		/></a> -->
		<!--  -->
		<div class="mobile-menu">
			<button class="btn-close mobile-menu__close"></button>
			<nav>
				<ul class="menu">
					<li>
						<a href="#" class="menu__link border-bottom-line">Buy / Sell</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Crypto Prices</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Documentation</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Contact</a>
					</li>
				</ul>
			</nav>
			<div class="header__actions">
				@include('./components/lang-dropdown.html')
				<div class="header__buttons">
					<button class="btn login-btn">Log in</button>
					<button class="btn btn-filled sign-up-btn">Sign up</button>
				</div>
			</div>
		</div>
		<!--  -->

		@include('./components/burger.html')

		<!--  -->
	</div>
</header>
