<section class="license _observer_target">
	<div class="container">
		<h2 class="license__title text-gradient move-right">
			Licenses <span>and</span> Eligibility
		</h2>
		<div class="license-info">
			<div class="license-item move-top">
				<div class="license-item__title">
					Global coverage of 180+ countries and unprecedented 48 US states
				</div>
				<div class="license-item__text">
					Buy & sell cryptocurrencies no matter where you are
				</div>
			</div>
			<div class="license-item move-top">
				<div class="license-item__title">
					FinCEN Department of the Treasury, United States of America
				</div>
				<div class="license-item__text">
					Money Service Business Registration: 31000224635628
				</div>
			</div>
		</div>
	</div>
</section>
