.header {
	padding: 48px 0;

	&_authorized {
		border-bottom: 1px solid #1d1d26;
		padding: 45px 0;
		@media screen and (max-width: 992px) {
			border: none;
		}
	}

	@media screen and (max-width: 992px) {
		padding: 21px 0;
	}

	// .header__container

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1460px;
		padding: 0 20px;
		width: 100%;
		margin: 0 auto;

		gap: 40px 20px;
	}

	&__actions {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px 40px;
		@media screen and (max-width: 1160px) {
			flex-direction: column;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px 20px;
	}
}

.mobile-menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px 105px;

	&.active {
		transform: translateX(0);
	}

	&__close {
		display: none;

		@media screen and (max-width: 1160px) {
			display: block;
			margin-left: auto;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px 105px;

		@media screen and (max-width: 1200px) {
			gap: 40px 50px;
		}

		@media screen and (max-width: 1160px) {
			flex-direction: column;
		}
	}
	// Mobile Menu Styles
	@media screen and (max-width: 1160px) {
		display: flex;
		flex-direction: column;

		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;

		max-width: 320px;
		min-width: 300px;

		width: 100%;
		height: 100%;
		padding: 50px 15px 20px 15px;

		overflow-y: auto;
		overflow-x: hidden;

		z-index: var(--mobile-menu-index);

		transform: translateX(100%);
		transition: transform 250ms ease;

		background-color: var(--bg-black);
	}
}

.menu {
	// Reset
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	@media screen and (max-width: 1160px) {
		flex-direction: column;
	}

	gap: 40px 48px;
	// .nav-menu__link

	&__link {
		// Reset
		text-decoration: none;

		display: block;

		color: var(--white);
		font-family: Stolzl, sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 100%;
	}
}
