<div class="currency-card">
	<div class="currency-card__item">
		<div class="currency-card__img">
			<img src="./assets/img/currency/btc.svg" alt="btc" />
		</div>
		<div class="currency-card__info">
			<div class="currency-card__type">BTC/USDT</div>
			<div class="currency-card__value">$35 541.156</div>
		</div>
	</div>
	<div class="currency-card__wrapper">
		<div class="currency-card__percentage">
			<img src="./assets/img/currency/arrow.svg" alt="arrow" />
			<div>17.82%</div>
		</div>
		<div class="currency-card__time">Last 1hr</div>
	</div>
</div>
