<div class="exchange">
	<div class="exchange__top">
		<div class="exchange-block">
			<div class="exchange-block__title">You Spend</div>
			<!--  -->

			<div class="converter">
				<input class="converter__field" type="text" placeholder="100000" />

				<div class="converter-select">
					<img
						class="converter-currency-img"
						src="./assets/img/usd.svg"
						alt="USD"
					/>

					<div class="converter-select__info">
						<div class="converter-currency">USD</div>
						<div class="converter-type">Credit/Debit Card</div>
					</div>

					<div class="converter-arrow" aria-hidden="true">
						<img src="./assets/img/arrow-bottom-md.svg" alt="arrow" />
					</div>
				</div>

				<div class="converter-drop">
					<div class="converter-drop__top">
						<div class="converter-drop__actions">
							<div class="converter-drop__buttons">
								<button class="btn btn-sm btn-filled crypto-btn">
									Buy Crypto
								</button>
								<button class="btn btn-sm sell-btn">Sell Crypto</button>
							</div>
							<div class="converter-drop__info">
								<img
									class="converter-currency-img"
									src="./assets/img/usd.svg"
									alt="USD"
								/>
								<div class="converter-currency">USD</div>
							</div>
						</div>
						<div class="search converter-drop__search">
							<input
								type="text"
								class="search__field"
								placeholder="Search "
								value=""
							/>
							<img
								src="./assets/img/search.svg"
								alt="search icon"
								aria-hidden="true"
								class="search-icon search__icon"
							/>
						</div>
						<div class="converter-drop__text">Select payment method</div>
					</div>
					<ul class="converter-menu">
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!--  -->
		</div>
		<img
			width="18px"
			height="18px"
			src="./assets/img/exchange.svg"
			alt="exchange icon"
			class="exchange-icon exchange__icon"
		/>

		<div class="exchange-block">
			<div class="exchange-block__title">You Receive</div>

			<!--  -->

			<div class="converter">
				<input class="converter__field" type="text" placeholder="100000" />

				<div class="converter-select">
					<img
						class="converter-currency-img"
						src="./assets/img/btc.svg"
						alt="USD"
					/>

					<div class="converter-select__info">
						<div class="converter-currency">BTC</div>
						<div class="converter-type">Bitcoin</div>
					</div>

					<div class="converter-arrow" aria-hidden="true">
						<img src="./assets/img/arrow-bottom-md.svg" alt="arrow" />
					</div>
				</div>

				<div class="converter-drop">
					<div class="converter-drop__top">
						<div class="converter-drop__actions">
							<div class="converter-drop__buttons">
								<button class="btn btn-sm btn-filled crypto-btn">
									Buy Crypto
								</button>
								<button class="btn btn-sm sell-btn">Sell Crypto</button>
							</div>
							<div class="converter-drop__info">
								<img
									class="converter-currency-img"
									src="./assets/img/usd.svg"
									alt="USD"
								/>
								<div class="converter-currency">USD</div>
							</div>
						</div>
						<div class="search converter-drop__search">
							<input
								type="text"
								class="search__field"
								placeholder="Search "
								value=""
							/>
							<img
								src="./assets/img/search.svg"
								alt="search icon"
								aria-hidden="true"
								class="search-icon search__icon"
							/>
						</div>
						<div class="converter-drop__text">Select payment method</div>
					</div>
					<ul class="converter-menu">
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
						<li class="converter-menu__item">
							<img
								class="converter-currency-img"
								src="./assets/img/usd.svg"
								alt="USD"
							/>
							<div class="converter-menu__info">
								<div class="converter-menu__type">Credit/Debit Card</div>
								<div class="converter-menu__rate">$5 – $20 000 per tx</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!--  -->
		</div>
	</div>
	<div class="exchange__bottom">
		<button class="btn btn-filled by-now-btn">Buy now</button>
		<div class="exchange__info">
			<div class="exchange__text">Commission details</div>
			<div class="exchange-details">
				<div class="exchange-detail">
					<div class="exchange-detail__type">Service fee</div>
					<div class="exchange-detail__number">3.70 USD</div>
				</div>
				<div class="exchange-detail">
					<div class="exchange-detail__type">Network fee</div>
					<div class="exchange-detail__number">1.11 USD</div>
				</div>
			</div>
		</div>
	</div>
</div>
