.contact {
	padding-top: 84px;

	@media screen and (max-width: 992px) {
		padding-top: 28px;
	}
	// .contact__container

	&__container {
		display: flex;
		flex-direction: column;
	}

	// .contact__breadcrumbs

	&__breadcrumbs {
		margin: 0 auto;
		margin-bottom: 15px;

		@media screen and (max-width: 992px) {
			margin-bottom: 10px;
		}
	}

	// .contact__title

	&__title {
		margin-bottom: 48px;

		@media screen and (max-width: 992px) {
			margin-bottom: 8px;
			font-size: 42px;
		}
		@media screen and (max-width: 768px) {
			font-size: 32px;
		}
	}

	// .contact__subtitle

	&__subtitle {
		max-width: 780px;
		margin: 0 auto;

		margin-bottom: 60px;

		color: #9494b2;
		text-align: center;
		font-family: Lexend;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 150%; /* 27px */

		@media screen and (max-width: 992px) {
			font-size: 14px;
		}
	}

	// .contact__license

	&__license {
		margin-bottom: 88px;
		@media screen and (max-width: 992px) {
			order: 2;
		}
	}

	&__details {
		@media screen and (max-width: 992px) {
			margin-bottom: 72px;
		}
	}
}

.support-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 25px 20px;
}

.support-detail {
	max-width: 350px;
	width: 100%;
	font-family: Stolzl;

	// .support-detail__title

	&__title {
		margin-bottom: 15px;
		color: #646f86;
		font-size: 20px;
		font-weight: 400;
		@media screen and (max-width: 992px) {
			text-align: center;
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

	// .support-detail__text

	&__text {
		color: var(--white);
		font-size: 26px;
		font-weight: 500;
		@media screen and (max-width: 992px) {
			font-size: 20px;
			padding: 0 10px;
		}
	}

	// .support-detail__link

	&__link {
		color: var(--white);
		font-size: 26px;
		font-weight: 700;
		@media screen and (max-width: 992px) {
			font-size: 20px;
		}
	}
}
