.auth-wrapper {
	min-height: 100vh;
	padding: 70px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 90px;
		padding: 0;

		@media screen and (max-width: 768px) {
			gap: 40px;
		}
	}

	&__progress {
		margin-bottom: 50px;
	}
}

.auth-card {
	margin: 0 auto;
	max-width: 580px;
	width: 100%;
	padding: 60px;

	border-radius: 30px;
	border: 0.5px solid #32324a;
	background: rgba(20, 20, 27, 0.8);

	@media screen and (max-width: 992px) {
		padding: 20px;
	}

	@media screen and (max-width: 500px) {
		border-radius: 16px;
	}

	&__title {
		margin-bottom: 40px;
		color: #fff;
		font-family: Stolzl;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;

		@media screen and (max-width: 992px) {
			margin-bottom: 30px;
			font-size: 18px;
		}
	}

	&__subtitle {
		margin-bottom: 30px;
		@media screen and (max-width: 992px) {
			margin-bottom: 20px;
			font-size: 14px;
			max-width: 96%;
		}
		color: #fff;
		font-family: Stolzl;
		font-size: 16px;
		font-weight: 400;
		line-height: 140%;
		span {
			font-weight: 500;
		}
	}

	&__inputs {
		margin-bottom: 35px;

		display: flex;
		flex-direction: column;
		gap: 20px;

		@media screen and (max-width: 992px) {
			margin-bottom: 15px;
		}
	}

	&__btn {
		max-width: 100%;
		min-width: 50px;
		width: 100%;
		padding: 24px 20px;

		color: #fff;
		text-align: center;
		font-family: Gilroy;
		font-size: 15px;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.75px;
		text-transform: uppercase;

		@media screen and (max-width: 500px) {
			padding: 20px 12px;
		}
	}

	&__text {
		position: relative;
		width: 100%;
		overflow: hidden;

		margin-bottom: 25px;

		color: #9494b2;
		text-align: center;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.28px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 50%;
			height: 1px;
			background-color: #36323e;
		}

		&::before {
			left: -70px;
		}

		&::after {
			right: -70px;
			height: 1px;
		}

		@media screen and (max-width: 992px) {
			&::before {
				left: -50px;
			}
			&::after {
				right: -50px;
			}
		}
	}
}
.auth {
	&__link {
		margin-left: auto;
		margin-bottom: 35px;

		font-family: Stolzl;
		font-size: 15px;
		font-weight: 400;
		line-height: normal;

		@media screen and (max-width: 992px) {
			margin-bottom: 20px;
		}
	}

	&__label {
		display: inline-block;
		margin-bottom: 8px;
		color: #8a7f9e;
		font-family: Stolzl;
		font-size: 14px;
		font-weight: 400;
		line-height: 140%;
	}
}

.auth-buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px 20px;

	margin-bottom: 30px;
	@media screen and (max-width: 992px) {
		margin-bottom: 28px;
		gap: 12px;
	}

	&_wrap {
		@media screen and (max-width: 360px) {
			flex-wrap: wrap;
		}
	}
}

.auth-socials {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 20px;
	justify-content: center;
	@media screen and (max-width: 992px) {
		gap: 20px 10px;
	}

	&__link {
		width: 65px;
		height: 65px;
		display: block;
		border-radius: 8px;
		border: 1px solid #45455c;
		display: grid;
		place-items: center;
		img {
			width: 25px;
			height: 25px;
		}

		@media screen and (max-width: 992px) {
			width: 57px;
			height: 57px;
			img {
				width: 20px;
				height: 20px;
			}
		}
	}
}
