@font-face {
	font-family: 'Stolzl';
	src: url('../fonts/stolzl_bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Stolzl';
	src: url('../fonts/stolzl_medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Stolzl';
	src: url('../fonts/stolzl_regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Stolzl';
	src: url('../fonts/stolzl_light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lexend';
	src: url('../fonts/Lexend-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
